Add support for SSM exclude mode

Currently mtools support ASM (*,G) and basic SSM (S,G), but there is no way to join a specific group, excluding specific sources.

With the refactor made in v3.1, the code is now in a shape where it would be easier to add support for join a (group, filter_mode, source-list).  I.e., what `setsourcefilter()` provides.  For details, see [RFC 3678, sec. 5.2.1](https://www.rfc-editor.org/rfc/rfc3678#section-5.2.1).

